<h1>Cities</h1>

<a class="btn btn-warning mb-3" (click)="addCity()" *ngIf="isAdminUser">add</a>
<div class="row">
  <div class="col-6">
    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Cinema hall</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let city of cities">
        <td>{{city.id}}</td>
        <td>{{city.name}}</td>
        <td>{{city.address}}</td>
        <td>{{city.cinemaHallDto.name}}</td>
        <td>
          <button type="button" class="btn btn-primary" (click)="selectCinemaHall(city.cinemaHallId)">view</button>
        </td>
      </tr>
      </tbody>
    </table>
    <div *ngIf="loadingData">{{message}}</div>
  </div>
  <div class="col-6">
  </div>
</div>



